@{
    ViewBag.Title = "History";
    ViewBag.Message = "Mess";

}
@*<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>*@

<div class="container">
    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Adir&Dani
                <small>Welcome to my WEB</small>
            </h1>
            <p>פנק אותו פה במילים עד שיכאב ליבו המר</p>
        </div>
    </div>
    <!-- history-->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our History</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://img.wcdn.co.il/f_auto,w_300,t_18/2/3/0/4/2304862-46.jpg"  alt="">
            <h3>
                בונים את משרדי החברה בפרברי באר שבע
                <small>שנת 2007</small>
            </h3>
            <p>בהוקרה רבה לחברת מוטי לוכים על שפיכת כספים</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://www.osekatan.com/wp-content/uploads/2015/03/ebay-selling-guide.jpg" alt="">
            <h3>
                נכנסים לשוק המכירות האינטרנטי
                <small>שנת 2009</small>
            </h3>
            <p>האתר זוכה להצלחה מסחררת עם למעלה מ15000 כניסות ביום</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://images.globes.co.il/images/NewGlobes/big_image_800/2015/shutterstock_229018687-800.jpg" alt="">
            <h3>
                מנכל החברה אבי רון נתפס על ידי להב 433
                <small>2011</small>
            </h3>
            <p>שנת מכירות קשה עם חובות שהגיעו ליותר ממליארד דולר</p>
            
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_674_240/AAEAAQAAAAAAAAZkAAAAJDFkYmRhNWMxLTk1NjUtNGU3OC1iYTVkLTI3NzEwZDllYjNlYg.jpg" alt="">
            <h3>
                באומץ רב נכנסו מייסדי האתר ללימודי מהנדס על מנת לשקם את האתר 
                <small>2015</small>
            </h3>
            <p>צעד שמביא באאז מטורף ומסוקר על ידי ה BBC</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="http://gaia.adage.com/images/bin/image/x-large/oscar030310.jpg" alt="">
            <h3>
                זכייה באוסקר
                <small>2018</small>
            </h3>
            <p>מודים לכל מי שבחר בנו</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="https://www.ynet.co.il/PicServer2/01082004/455072/LON009D_wa.jpg" alt="">
            <h3>
                חותמים על הסכם שיתוף פעולה עם גוגל
                <small>שנת 2020</small>
            </h3>
            <p>מודים לאמריקאים על הצעד</p>
        </div>
    </div>
</div>
<hr>
